
name: data-transfer-app-poc               # group name
services:
  mongodb:
    image: mongo:latest
    container_name: mongodb-database
    ports:
      - "27018:27017"               # external port : internal port
    volumes:
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
      - db-data:/data/db            # database where data will persist
      - db-config:/data/configdb    # where MongoDB stores configuration files
    networks:
        - mongo-network

  data-transfer-sequential:
    build:                          # build from the local dockerfile
        context: .
        dockerfile: DataTransfer.Sequential/Dockerfile
    image: data-transfer-sequential:latest      # set image name
    container_name: data-transfer-sequential
    ports:
      - "8080:8080"                  # external port : internal port
    environment:
      TZ: "America/Sao_Paulo"
      ConnectionStrings__MongoDb: "mongodb://mongodb-database:27017"    # environment variable to the app container        
    depends_on:
      - mongodb                      # ensures starts first
    networks:
      - mongo-network
 
  data-transfer-parallel:
    build:                          # build from the local dockerfile
        context: .
        dockerfile: DataTransfer.Parallel/Dockerfile
    image: data-transfer-parallel:latest      # set image name
    container_name: data-transfer-parallel
    ports:
      - "8081:8081"                  # external port : internal port
    environment:
      TZ: "America/Sao_Paulo"
      ConnectionStrings__MongoDb: "mongodb://mongodb-database:27017"    # environment variable to the app container        
    depends_on:
      - mongodb                      # ensures starts first
    networks:
      - mongo-network
 
  data-transfer-chunck:
    build:                          # build from the local dockerfile
        context: .
        dockerfile: DataTransfer.Chunck/Dockerfile
    image: data-transfer-chunck:latest      # set image name
    container_name: data-transfer-chunck
    ports:
      - "8082:8082"                  # external port : internal port
    environment:
      TZ: "America/Sao_Paulo"
      ConnectionStrings__MongoDb: "mongodb://mongodb-database:27017"    # environment variable to the app container        
    depends_on:
      - mongodb                      # ensures starts first
    networks:
      - mongo-network

volumes:
      db-data:
        driver: local                # drivers - where the directory is created
      db-config:
        driver: local

networks:
  mongo-network:
    driver: bridge                   # creates a private, internal network


# bash
# docker compose up --build -d

# bash
# docker compose down --volumes